---
layout: fullpage
title: Research
---

<!-- see _data/content/research.yaml for content -->
<div class="container-fluid" style="margin-bottom:1rem;"><div class="container">
{% for cont in site.data.research %}
<div class="row" style="padding: 2rem 0;">
  <div class="col-sm-4 align-self-center">
    <img src="{{cont.image}}" class="img-fluid" />
  </div>
  <div class="col-sm-8">
    <h2>{{cont.title}}</h2>
    <p class="lead">{{cont.lead}}</p>
    {{cont.content | markdownify}}
  </div>
</div>
{% endfor %}
</div></div>

<style>
  li.list-inline-item::before {
    content: "\2013";
    margin-right: 0.2rem;
  }
  .list-inline-item:not(:last-child){
    margin-right: 0.8rem;
  }
  ol#pubs {
    font-size: larger;
  }
  ol#pubs .pubcontent{
    font-size: 1rem;
  }
  ol#pubs>li {
    margin-bottom: 1rem;
  }
</style>

<div class="container-fluid bg-faded" style="padding:1rem 0; margin-bottom:0"><div class="container">
<div class="row">
  <div class="col-lg-9 col-xs-12">
    <h1 id="papers">Papers</h1>
    <hr>

    <ol id="pubs">
      {% for pub in site.data.publications %}
      <li>
        <div class="pubcontent">
          <h5>{{pub.title}}</h5>
          {% if pub.authors %}{{pub.authors | join: '; '}} <br/>{% endif %}
          {{pub.date | date: '%B %d, %Y'}} <br/>
          {{pub.journal}}. 
          <a href="http://dx.doi.org/{{pub.doi}}">doi:{{pub.doi}}</a>
          {% if pub.preprint %}
          <a href="{{pub.preprint.link}}">[{{pub.preprint.service}}]</a>
          {% endif %}
          {% if pub.blog %}
          <a href="{{pub.blog.link}}">[{{pub.blog.service}}]</a>
          {% endif %}
          {% if pub.pdf %}
          <a href="{{pub.pdf}}">[pdf]</a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ol>

  </div>
</div>
</div></div>

<!-- vim: ts=2 sw=2 et
-->
