
{% include jheader.html %}

<div class="jumbotron">
    <div class="container">
    
        <div class="row">
            <div class="col-sm-8">
                <h1 style="margin-top: 0">{{ page.h1 }}</h1>
                {{ content }}
        </div>
        <div class="col-sm-4">
            <img src="{{site.url}}/assets/{{page.image}}"
            class="img-responsive"/>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      {% for front in site.fronts %}
        <div class="col-md-4">
            <h2>{{ front.title }}</h2>
            {{ front.output }}
            <p><a class="btn btn-default" href="{{site.url}}/{{front.link}}" role="button">
                View details &raquo;
            </a></p>
        </div>
      {% endfor %}
  </div>
</div>

{% include jfooter.html %}
