---
layout: bootstrap
---

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="display-4">{{ page.h1 }}</h1>
        {{ content }}
      </div>
      <div class="col-sm-4">
        <img src="{{site.url}}/assets/{{page.image}}"
             class="img-fluid"/>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for front in site.fronts %}
    <div class="col-md-4">
      <h2>{{ front.title }}</h2>
      {{ front.output }}
      <p>
        <a class="btn btn-secondary" role="button"
           href="{{site.url}}/{{front.link}}">View details &raquo;</a>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<!--
vim: ts=2 sw=2 et
-->
